<ul id="CalendarTab" class="nav nav-tabs">
    <li class="active"><a href="#fullCalendarTab1" data-toggle="tab">Календарь</a></li>
    <li class=""><a href="#fullCalendarTab2" data-toggle="tab">Список</a></li>
</ul>
<div class="tabbable">
    <div class="tab-content">
        <div class="tab-pane active" id="fullCalendarTab1">
            <div id="fullCalendar"></div>
        </div>
        <div class="tab-pane" id="fullCalendarTab2">
            <div id="fullCalendarList"></div>
        </div>
    </div>
</div>
