<label class="control-label">ID объекта</label>
<input id="plannerAddTaskModalTaskObjectId" type="text" class="form-control" disabled>
<label class="control-label">Тип задачи</label>
<input id="plannerAddTaskModalTaskType" type="text" class="form-control">
<label class="control-label">Класс задачи</label>
<select id="plannerAddTaskModalTaskClass" class="form-control">
    <option value="event-warning" class="event-warning">event-warning</option>
    <option value="event-success" class="event-success">event-success</option>
    <option value="event-info" class="event-info">event-info</option>
    <option value="event-special" class="event-special">event-special</option>
    <option value="event-inverse" class="event-inverse">event-inverse</option>
    <option value="event-important" class="event-important">event-important</option>
</select>

<label class="control-label">Дата начала</label>
<input id="plannerAddTaskModalStratDate" type="text" class="form-control ">
<div class="bootstrap-timepicker">
    <input id="plannerAddTaskModalStratTime" type="text" class="form-control">
</div>

<label class="control-label">Дата конца</label>
<input id="plannerAddTaskModalEndDate" type="text" class="form-control">
<div class="bootstrap-timepicker">
    <input id="plannerAddTaskModalEndTime" type="text" class="form-control">
</div>

<label class="control-label">Заголовок</label>
<input id="plannerAddTaskModalTaskTitle" type="text" class="form-control">
<label class="control-label">Описание</label>
<textarea id="plannerAddTaskModalDescription" class="form-control"></textarea>