<label class="control-label">ID объекта</label>
<input id="plannerAddTaskModalTaskObjectId" type="text" class="form-control" disabled>
<label class="control-label">Цвет задачи</label>
<select name="plannerColorPickerList" id="plannerColorPickerList">
    <option value="#ac725e">#ac725e</option>
    <option value="#d06b64">#d06b64</option>
    <option value="#f83a22">#f83a22</option>
    <option value="#fa573c">#fa573c</option>
    <option value="#ff7537">#ff7537</option>
    <option value="#ffad46">#ffad46</option>
    <option value="#42d692">#42d692</option>
    <option value="#16a765">#16a765</option>
    <option value="#7bd148">#7bd148</option>
    <option value="#b3dc6c">#b3dc6c</option>
    <!--<option value="#fbe983">#fbe983</option>-->
    <option value="#fad165">#fad165</option>
    <option value="#92e1c0">#92e1c0</option>
    <option value="#9fe1e7">#9fe1e7</option>
    <option value="#9fc6e7">#9fc6e7</option>
    <option value="#3a87ad">#3a87ad</option>
    <option value="#4986e7">#4986e7</option>
    <option value="#9a9cff">#9a9cff</option>
    <option value="#b99aff">#b99aff</option>
    <option value="#c2c2c2">#c2c2c2</option>
    <option value="#cabdbf">#cabdbf</option>
    <option value="#cca6ac">#cca6ac</option>
    <option value="#f691b2">#f691b2</option>
    <option value="#cd74e6">#cd74e6</option>
    <option value="#a47ae2">#a47ae2</option>
</select>
<br>

<div class="row">
    <div class="col-md-6">
        <label class="control-label">Дата начала</label>
        <input id="plannerAddTaskModalStratDate" type="text" class="form-control ">

        <label class="control-label">Дата окончания</label>
        <input id="plannerAddTaskModalEndDate" type="text" class="form-control">
    </div>
    <div class="col-md-6">
        <label class="control-label">Время начала</label>
        <div class="bootstrap-timepicker">
            <input id="plannerAddTaskModalStratTime" type="text" class="form-control">
        </div>
        <label class="control-label">Время окончания</label>
        <div class="bootstrap-timepicker">
            <input id="plannerAddTaskModalEndTime" type="text" class="form-control">
        </div>
    </div>
</div>
<label class="control-label">Заголовок</label>
<input id="plannerAddTaskModalTaskTitle" type="text" class="form-control">
<label class="control-label">Описание</label>
<textarea id="plannerAddTaskModalDescription" class="form-control"></textarea>