<label class="control-label">Фамилия</label>
<div class="controls">
    <input id="customersLname" type="text" class="form-control" value="">
</div>
<label class="control-label">Имя</label>
<div class="controls">
    <input id="customersFname" type="text" class="form-control" value="">
</div>
<label class="control-label">Отчество</label>
<div class="controls">
    <input id="customersMname" type="text" class="form-control" value="">
</div>
<label class="control-label">Год рождения</label>
<div class="controls">
    <input id="customersDateOfBirthday" type="text" class="form-control" value="0">
</div>
<label class="control-label">Пол</label>
<div class="controls">
    <select id="customersSex" class="form-control">
        <option selected="selected" value="0">Не указан</option>
        <option value="1">Мужской</option>
        <option value="2">Женский</option>
    </select>
</div>
<label class="control-label">E-Mail</label>
<div class="controls">
    <input id="customersEmail" type="text" class="form-control" value="">
</div>
<label class="control-label">Телефон</label>
<div class="controls">
    <input id="customersPhone" type="text" class="form-control" value="">
</div>
<label class="control-label">Адрес</label>
<div class="controls">
    <textarea id="customersAddress" class="form-control"></textarea>
</div>
<label class="control-label">Дополнительно</label>
<div class="controls">
    <textarea id="customersExtra" class="form-control"></textarea>
</div>'