<label class="control-label">ID объекта</label>
<label class="control-label">Тип задачи</label>
<input id="plannerAddTaskModalTaskType" type="text" class="form-control">
<label class="control-label">Класс задачи</label>
<select id="plannerAddTaskModalTaskClass" class="form-control">
    <option>event-warning</option>
    <option>event-success</option>
    <option>event-info</option>
    <option>event-special</option>
    <option>event-inverse</option>
</select>

<label class="control-label">Дата начала</label>
<input id="plannerAddTaskModalStratDate" type="text" class="form-control ">
<div class="bootstrap-timepicker">
    <input id="plannerAddTaskModalStratTime" type="text" class="form-control">
</div>

<label class="control-label">Дата конца</label>
<input id="plannerAddTaskModalEndDate" type="text" class="form-control">
<div class="bootstrap-timepicker">
    <input id="plannerAddTaskModalEndTime" type="text" class="form-control">
</div>

<label class="control-label">Заголовок</label>
<input id="plannerAddTaskModalTaskTitle" type="text" class="form-control">
<label class="control-label">Описание</label>
<textarea id="plannerAddTaskModalDescription" class="form-control"></textarea>