<div class="panel panel-default">
    <div class="panel-heading">Администрирование</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Пользователи</div>
                    <div class="panel-body">
                        <div class="row">
                            <input type="button" class="btn btn-success pull-right" id="addUserBtn" onclick="addUser()" value="Добавить пользователя" />
                        </div>
                        <div id="adminTab1"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Группы</div>
                    <div class="panel-body">
                        <div class="row">
                            <input type="button" class="btn btn-success pull-right" id="addUserGroupBtn" onclick="addGroup()" value="Добавить группу" />
                        </div>
                        <div id="adminTab2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

