<p>
    <label class="control-label">Дата начала</label>
    <label id="plannerAddTaskModalStratDateLabel" class="control-label"></label>
</p>
<p>
    <label class="control-label">Дата окончания</label>
    <label id="plannerAddTaskModalEndDateLabel" class="control-label"></label>
</p>
<p>
    <label class="control-label">Заголовок</label>
    <label id="plannerAddTaskModalTaskTitleLabel" class="control-label"></label>
</p>
<p>
    <label class="control-label">Описание</label>
    <label id="plannerAddTaskModalDescriptionLabel" class="control-label"></label>
</p>