.add-panel {
    position: relative;
    z-index: 100;
    margin: 20px;
}

.add-panel__request-ui input[type="text"]
{
    width: 240px;
}

.regular__ctrls .spinner{
    position: absolute;
    top: 4px;
    right: 21px;
    display: none;
}

/* Addition */
.addition{
    margin-left: 170px;
    width: 490px;
}

.addition .block{
    display: block;
    height: 150px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.06);
}

.addition .block:nth-child(1){
    float: left;
    width: 200px;
}

.addition .block:nth-child(2){
    float: right;
    width: 240px;
}

.addition p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.addition .title{
    font-weight: bold;
    margin-bottom: 10px;
}

.addition ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.addition .name{
    font-style: italic;
}


/* Custom Autocomplete */
.ui-autocomplete {
    background: #ffffff;
    border: 1px solid #B1B1B1;
    overflow-y: auto;
    max-height: 400px;
    max-width: 490px;
}

.ui-autocomplete li {
    font-size: 13px;

    border-top: 1px solid #E2E2E2;

}

.ui-autocomplete li:first-child {
    border: none;
}

.ui-autocomplete li a {
    display: block;
    padding: 0 10px;
    line-height: 23px;
}

.ui-autocomplete li:hover a,
.ui-autocomplete li a:hover {
    font-weight: normal;
    color: #333333;
}

.ui-autocomplete li .ac-s {
    color: #52A3B6;
}

.ui-autocomplete li .ac-s2 {
    color: #333333;
}

.ui-autocomplete li .ac-s,
.ui-autocomplete li .ac-s2 {
    font-weight: bold;
}

.ui-autocomplete li .ac-st {
    color: #AAAAAA;
}